/.project
/qrata-web/target
/qrata-web/.project
/qrata-web/.settings
/qrata-web/.svn
/qrata-web/target
/qrata-web/.classpath
/.svn
/.settings
/qrata-api/.project
/qrata-api/.settings
/qrata-api/.svn
/qrata-api/target
/qrata-api/.classpath
/qrata-core/.project
/qrata-core/.settings
/qrata-core/.svn
/qrata-core/target
/qrata-core/.classpath
/qrata-dao/.project
/qrata-dao/.settings
/qrata-dao/.svn
/qrata-dao/target
/qrata-dao/.classpath
/qrata-model/.project
/qrata-model/.settings
/qrata-model/.svn
/qrata-model/target
/qrata-model/.classpath
/qrata-service/.project
/qrata-service/.settings
/qrata-service/.svn
/qrata-service/target
/qrata-service/.classpath
/qrata-web/.project
/qrata-web/.settings
/qrata-web/.svn
/qrata-web/target
/qrata-web/.classpath

/qrata-front-end/target
/qrata-front-end/.settings
/qrata-front-end/.classpath
/qrata-front-end/.project
*.class