.displayTable table {
	border: 1px solid #666;
	width: 80%;
	background-color: #E7E7E4; 
}

.displayTable  th, .displayTable  td {
	padding-bottom: 6px !important;
    padding-left: 8px;
    padding-right: 1px;
    padding-top: 6px !important;
    text-align: left;
    vertical-align: top;
    font-size: 12px;
}

.displayTable  thead tr {
	background-color: #E7E7E4;
}

.displayTable  th.sorted {
	background-color: orange;
}

.displayTable  th a,.displayTable  th a:visited {
	color: black;
}

.displayTable th a:hover {
	text-decoration: underline;
	color: black;
}

.displayTable  th.sorted a,.displayTable  th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

.displayTable  th.sortable a {
	background: url(../images/arrow_off.png) no-repeat right center ;
}

.displayTable  th.order1 a {
	background: url(../images/arrow_down.png) no-repeat right center ;
}

.displayTable  th.order2 a {
	background: url(../images/arrow_up.png) no-repeat right center;
}

.displayTable  tr.odd {
	background-color: #fff
}

.displayTable  tr.tableRowEven,.displayTable tr.even {
	opacity: 1;
}

.displayTable  div.exportlinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: 2px 0 10px 0;
	width: 79%;
}

.displayTable  span.export {
	padding: 0 4px 1px 20px;
	display: inline;
	display: inline-block;
	cursor: pointer;
}

.displayTable  span.excel {
	background-image: url(../img/ico_file_excel.png);
}

.displayTable span.csv {
	background-image: url(../img/ico_file_csv.png);
}

.displayTable span.xml {
	background-image: url(../img/ico_file_xml.png);
}

.displayTable span.pdf {
	background-image: url(../img/ico_file_pdf.png);
}

.displayTable span.rtf {
	background-image: url(../img/ico_file_rtf.png);
}

span.pagebanner {	
	margin-left: 1%;
    margin-right: 1%;
}

.displayTable span.pagelinks {
	background-color: #eeefff;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 79%;
	display: block;
	border-top: none;
	margin-bottom: -5px;
}